#header{
    height: 100%;
}
#header{
    @include transition-property(height);
	@include transition-duration(0.5s);    
    height:100%;
    &.revealed{
        @include transition-property(height);
		@include transition-duration(0.5s); 
        height:80%;
    }
}
#header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
	.title{
		padding-top: 155px;
		p{
			font-size:1.5em;
			padding:1em;
			background-color:rgba($secondary, 0.8);
			color:$primary;
		}
	}
	h1{
		color:$primary;
		font-family:$main-font;
		font-size:7em;
	}
	#tabs{
		padding:30px;
	}
	a{
		font-size: 2em;
		padding: 10px;
		margin: 10px;
	}
}
.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}

