// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


@import "site-variables";
@import "site-mixins";
@import "navigation";
@import "morph-button";


#logo-container{
	text-align: center;
}

#logo-img{
	margin:20px;
	width:140px;
}
h1, h3, h4{
	color:$primary-color;
}
h3{
	margin-bottom:20px;
}

.make-base{
	//background-color:rgba($base-color, 0.8);
	background-color:$base-color;
}
.make-neutral{
	background-color:rgba($neutral-color, 0.9);
}
.icon-subheading{
	i{
		color: $primary-color;
	}
	span{
		color:$primary-color;
		font-size:$font-size-h4;
	}
	+ div, + p{
		margin-top:10px;
	}
}
.row{
    margin-top:50px;
}
.title{
	padding-bottom: 20px;
}
.section{
	
	display:none;
}
#bottom-box{
	margin-bottom:15px;
}
#contact-box{
	@include link-text;
	cursor: pointer;
}


.bg-image-1{
	background:url("../../img/bg1.jpg") no-repeat fixed 50% 55% / cover;
}

.bg-image-2{
	background:url("../../img/bg2.jpg") no-repeat fixed 50% 55% / cover;
}

.bg-image-3{
	background:url("../../img/bg3.jpg") no-repeat fixed 50% 55% / cover;
}

.bg-image-4{
	background:url("../../img/bg4.jpg") no-repeat fixed 50% 55% / cover;
}

.bg-image-5{
	background:url("../../img/bg5.jpg") no-repeat fixed 50% 55% / cover;
}

.bg-image-6{
	background:url("../../img/bg6.jpg") no-repeat fixed 50% 55% / cover;
}


